@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #faf8f5;
  color: #1c1917;
}

.dark body {
  background-color: #2a221e;
  color: #f5f5f4;
}
